body {
    background-color: wheat;
}

.work-line {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: start;
    /* max-width: 960px; */
    flex-shrink: 0;
    flex-wrap: wrap;
}

.square {
    background-color:black;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 1px;
    border-color: rgb(34, 6, 59);
    opacity: 0.1;
}

.topper,
p {
    display: flex;
    justify-content: center;
}

button {
    font-size: large;
    padding: 5px 10px;
    background-color: blueviolet;
    color: yellow;
}

.alert {
    font-size: large;
    color: aquamarine;
}

/* Changing color */

.hovered {
    background-color: yellow;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 1px;
    border-color: rgb(34, 6, 59);
}

