body {
    background-color: rgb(34, 6, 59);
}

.work-line {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: start;
    max-width: 960px;
    flex-shrink: 0;
    flex-wrap: wrap;
}

.square {
    background-color: gray;
    width: 16px;
    height: 16px;
    margin: 5px;
    border: 1px;
    border-color: rgb(34, 6, 59);
}

.topper,
p {
    display: flex;
    justify-content: center;
}

button {
    font-size: large;
    padding: 5px 10px;
}

.alert {
    font-size: large;
    color: aquamarine;
}